
<form class="author edit" action="/authors/<%=auhtor.id %>" method="POST">
      <input type="text" name="author[name]" value="<%= @author.name %>">
      <input type="text" name="author[avatar]" value="<%= @author.avatar %>">
      <input type="submit" name="submit">
    </form>

    <label for="author">Author<br>
    	<select name="author[author_id]">
    		<% @author.each do |author| %>
    		<option <%= "selected" if author == @blog.author %> value="author.id %>"><%= author.name %></option>
    		<% end %>
    	</select>





<!-- 
<,<h2>Edit Author Info</h2>
<form action="/author/<%= @author.id %>" method="POST">
</form>

<label for="authors">Authors<br> 
	<select name="author[id]"
</label>





<form action="/authors/<%= @author.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
		<button>DELETE</button>
	</form> -->